<div class="card-header">
    <h3>Lizenzfreie Bilder und Videos von unseren kreativen Nutzern.</h3>
    <h1>Die schönsten kostenlosen Fotos</h1>
    <div class="search-form">
        <input [(ngModel)]="searchData" id="search-text" class="form-control" placeholder="Type something..."
            type="text" (keyup)="search()">
        <input name="deliveryNumber" id="number-of-images" [(ngModel)]="perPage" class="form-control"
            placeholder="No. of Images" type="number" min="0">
    </div>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let pic of photos" class="col-sm-4">
            <div style="margin-top: 10px;" class="card">
                <img class="card-img-top" [src]="pic.src.landscape" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">{{pic.alt}}</p>
                    <button class="btn" (click)="onImgDetails(pic)">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer *ngIf="searchData !== ''" class="footer bg-dark">
    <p>Copyright &copy; 2023, Burak Ongün, All Rights Reserved</p>
</footer>