<div class="card-header main-search">
    <div class="row">
        <div class="col-12 col-md-3 col-xl-3">
            <input [(ngModel)]="searchData" class="AutoFocus form-control" placeholder="Type something..." type="text">
        </div>
        <div class="col-12 col-md-3 col-xl-3">
            <input name="deliveryNumber" [(ngModel)]="perPage" class="AutoFocus form-control" placeholder="No of Images"
                type="text">
        </div>
        <div class="ml-auto">
            <input type="button" (click)="search()" value="Search" class="btn btn-primary search-btn">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let pic of photos" class="col-sm-4">
            <div style="margin-top: 10px;" class="card">
                <img class="card-img-top" [src]="pic.src.landscape" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <a href="#" class="btn btn-primary">Know more</a>
                </div>
            </div>
        </div>
    </div>
</div>