<div class="detail-container" [ngStyle]="setBackgroundImg()">
    <table class="table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{img.alt}}</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>{{img.height}}</td>
            </tr>
            <tr>
                <td>Width</td>
                <td>{{img.width}}</td>
            </tr>
            <tr>
                <td>Photographer</td>
                <td>{{img.photographer}}</td>
            </tr>
            <tr>
                <td>Photographer Profile</td>
                <td><a target="_blank" href="{{img.photographer_url}}" class="btn">profile</a></td>
            </tr>
            <tr>
                <td>Image Link</td>
                <td><a target="_blank" href="{{img.url}}" class="btn">image</a></td>
            </tr>
        </tbody>
    </table>
</div>