@import'~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #BEBEBE;
}

.btn {
    background-color: #1981B8;
    color: #BEBEBE;
    transition: all 0.3s ease-in;
}

.btn:hover {
    opacity: 0.6;
}